.app{
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #111B21;
  overflow: hidden;
}

.app__body{
  display: flex;
  height: 95vh;
  width: 100vw;
  max-width: 1500px;
  background-color: #101A20;
}